.txt{
    /* position: absolute;
    top: 20%;
    left: 10%; */
    margin-left: 10%;
    margin-top: 30px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Montserrat";
}
.carding_div{
    width: 100%;
}