.main_div{
    flex-direction: column;
    width: 367px;
    background-color: white;
    z-index: 20;
    margin: 0 auto;
    align-items: center;
    display: flex;
    /* position: absolute;
    top: 0;
    right: 38.30%; */
}

.under_div{
    width: 365px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: relative;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e9e6e6;
    border-right: 1px solid #e9e6e6;
    border-left: 1px solid #e9e6e6;
    border-bottom: 1px solid #e9e6e6;
}

.search_div{
    width: 365px;
    height: 80px;
    z-index: 200;
    display: flex;
    flex-direction: row;
    border-left: 1px solid #e9e6e6;
    border-right: 1px solid #e9e6e6;
    border-left: 1px solid #e9e6e6;
    border-bottom: 1px solid #e9e6e6;
}

.btn_div{
    width: 30%;
    height: 80px;
    display: flex;
    background-color: white;
    justify-content: center;
}

.search_btn{
    width: 32px;
    height: 32px;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px;
    border: none; 
    align-self: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.input {
    border: none; 
    width: 70%;
    height: 100%;
    padding-left: 30px;
    font-size: 16px;
    color: #181818;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
  
.input:focus {
    outline: none;
}

::placeholder {
    display: inline;
    font-size: 16px;
    color: #181818;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    align-self: center;   
}

.icon_logo{
    margin-top: 7px;
    color: white;
}

.mid_div{
    width: 85%;
    height: 150px;
    margin-top: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.mid_heading{
    margin-left : 1px;
    display: inline;
    font-size: 12px;
    color: rgba(24, 24, 24, 0.3);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.end_div{
    width: 85%;
    height: 32px;
    margin-top: 26px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px; 
    cursor: pointer;
}

.end_btn_text{
    margin-left : 1px;
    display: inline;
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.active{
    bottom: 0px;
}

.notactive{
    bottom: 260px;
}

